body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

body, td, p {
  font-family: verdana, sans-serif;
  font-size: 10px;
}

a {   text-decoration: none; color: black;      }
a:hover {   text-decoration:underline;          }

div.mysubject {
  border: solid;
  border-width: 1px;
  width: 100%;
  background-color: #80c0f0;
  padding: .25em;
  border-color: Black;
  font-weight: bold;
  color: Black;
}

div.mybody {
  border: solid;
  border-width: 1px;
  width: 100%;
  background-color: white;
  padding: 1em;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: black;
}
.mybody a:link {color: #003399; text-decoration: none;}
.mybody a:visited {color: #003399; text-decoration: none;}
.mybody a:hover { color: #CC6666; text-decoration: underline;}
.mybody a:active { color: #003399; text-decoration: none;}

div.colorblock {
  border: solid;
  border-width: 1px;
  width: 100%;
  padding: .25em;
  border-color: Black;
  font-weight: bold;
  color: Black;
  font-size: 12px;
}
